$OpenSans: "Open Sans", Arial, Helvetica, sans-serif;
$white: #ffffff;
$black: #000000;
$purple: #C283F3;
$gray: #333333;
$purple-700: #7943A4;

html, body, h1, h2, h3, h4, h5, h6, p, button, ul, ol {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $OpenSans;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  color: $gray;
  background: $white;
  overflow-x: hidden;
}

svg {
  display: inline-block;
  fill: currentColor;
  stroke: none;
}

a {
  display: inline-block;
  color: $black;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}

button {
  display: inline-block;
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  &:hover {
    cursor: pointer;
  }
}

input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}

label {
  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 100%;
  padding: 0 151px;
  margin: 0 auto;
  @include max-width-custom(1900px) {
    padding: 0 15px;
  }
  @include max-width-1279 {
    padding: 0 50px;
  }
  @include max-width-767 {
    padding: 0 15px;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}
