div.header__top
  div.container
    div.header__top-row
      button.header__burger
      img.header__logo(src="img/svg/logo.svg", alt="Blanchard")
      button.header__btn-search
      nav.header__nav
        ul.header__nav-list
          li.header__nav-item
            a.header__nav-link(href="#about") О нас
          li.header__nav-item
            a.header__nav-link(href="#") Галерея
          li.header__nav-item
            a.header__nav-link(href="#") Каталог
          li.header__nav-item
            a.header__nav-link(href="#") События
          li.header__nav-item
            a.header__nav-link(href="#") Издания
          li.header__nav-item
            a.header__nav-link(href="#") Проекты
          li.header__nav-item
            a.header__nav-link(href="#") Контакты
      a.header__sign(href="#")
        svg.header__sign-icon
          use(xlink:href="img/svg/sprite.svg#sign-in")
        span.header__sign-text Войти
div.header__bottom
  div.container
    div.header__bottom-row
      nav.header__bottom-nav
        ul.header__bottom-list
          li.header__bottom-item
            a.header__bottom-link(href="#") Реализм
              svg.header__bottom-link-icon
                use(xlink:href="img/svg/sprite.svg#menu-arrow")
            div.header__bottom-hidden
              ul.header__bottom-hidden-list(data-simplebar)
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-1
                  a.header__bottom-hidden-link(href="#") Тинторетто
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-2
                  a.header__bottom-hidden-link(href="#") Фридрих
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-3
                  a.header__bottom-hidden-link(href="#") Леонардо
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-4
                  a.header__bottom-hidden-link(href="#") Верроккьо
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-1
                  a.header__bottom-hidden-link(href="#") Граначчи
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-2
                  a.header__bottom-hidden-link(href="#") Грегорио ди Чекко
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-3
                  a.header__bottom-hidden-link(href="#") Джованни да Удине
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-4
                  a.header__bottom-hidden-link(href="#") Джованни ди Паоло
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-1
                  a.header__bottom-hidden-link(href="#") Джорджоне
          li.header__bottom-item
            a.header__bottom-link(href="#") Импрессионизм
              svg.header__bottom-link-icon
                use(xlink:href="img/svg/sprite.svg#menu-arrow")
            div.header__bottom-hidden
              ul.header__bottom-hidden-list(data-simplebar)
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-5
                  a.header__bottom-hidden-link(href="#") Моне
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-6
                  a.header__bottom-hidden-link(href="#") Сислей
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-7
                  a.header__bottom-hidden-link(href="#") Мане
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-8
                  a.header__bottom-hidden-link(href="#") Ренуар
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-1
                  a.header__bottom-hidden-link(href="#") Граначчи
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-5
                  a.header__bottom-hidden-link(href="#") Сислей
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-3
                  a.header__bottom-hidden-link(href="#") Моне
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-6
                  a.header__bottom-hidden-link(href="#") Джованни ди Паоло
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-8
                  a.header__bottom-hidden-link(href="#") Сислей
          li.header__bottom-item
            a.header__bottom-link(href="#") Постимпрессионизм
              svg.header__bottom-link-icon
                use(xlink:href="img/svg/sprite.svg#menu-arrow")
            div.header__bottom-hidden
              ul.header__bottom-hidden-list(data-simplebar)
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-9
                  a.header__bottom-hidden-link(href="#") Ван Гог
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-10
                  a.header__bottom-hidden-link(href="#") Сезанн
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-11
                  a.header__bottom-hidden-link(href="#") Гоген
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-12
                  a.header__bottom-hidden-link(href="#") Сёра
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-1
                  a.header__bottom-hidden-link(href="#") Граначчи
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-12
                  a.header__bottom-hidden-link(href="#") Сислей
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-3
                  a.header__bottom-hidden-link(href="#") Моне
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-5
                  a.header__bottom-hidden-link(href="#") Джованни ди Паоло
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-8
                  a.header__bottom-hidden-link(href="#") Сислей
          li.header__bottom-item
            a.header__bottom-link(href="#") Авангард
              svg.header__bottom-link-icon
                use(xlink:href="img/svg/sprite.svg#menu-arrow")
            div.header__bottom-hidden
              ul.header__bottom-hidden-list(data-simplebar)
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-13
                  a.header__bottom-hidden-link(href="#") Кандинский
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-14
                  a.header__bottom-hidden-link(href="#") Маринетти
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-15
                  a.header__bottom-hidden-link(href="#") Малевич
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-16
                  a.header__bottom-hidden-link(href="#") Пикассо
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-1
                  a.header__bottom-hidden-link(href="#") Граначчи
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-2
                  a.header__bottom-hidden-link(href="#") Сислей
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-13
                  a.header__bottom-hidden-link(href="#") Моне
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-5
                  a.header__bottom-hidden-link(href="#") Джованни ди Паоло
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-4
                  a.header__bottom-hidden-link(href="#") Сислей
          li.header__bottom-item
            a.header__bottom-link(href="#") Футуризм
              svg.header__bottom-link-icon
                use(xlink:href="img/svg/sprite.svg#menu-arrow")
            div.header__bottom-hidden
              ul.header__bottom-hidden-list(data-simplebar)
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-17
                  a.header__bottom-hidden-link(href="#") Карра
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-18
                  a.header__bottom-hidden-link(href="#") Прателла
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-19
                  a.header__bottom-hidden-link(href="#") Северини
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-20
                  a.header__bottom-hidden-link(href="#") Балла
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-1
                  a.header__bottom-hidden-link(href="#") Граначчи
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-12
                  a.header__bottom-hidden-link(href="#") Сислей
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-10
                  a.header__bottom-hidden-link(href="#") Моне
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-6
                  a.header__bottom-hidden-link(href="#") Джованни ди Паоло
                li.header__bottom-hidden-item.header__bottom-hidden-item_dropdown-4
                  a.header__bottom-hidden-link(href="#") Сислей
      form.header__search(action="/", method="post")
        button.header__search-btn(type="submit")
        input.header__search-input(type="text", placeholder="Поиск по сайту")
